.title {
    font-size: large;
    font-weight: bolder;
    color: rgb(72, 119, 228);
}
 /* here we have our title*/
.desc {
    color: aqua;
} /* here we have our description. aka a taste*/

.loadpgbtn {
    color: red;
    background-color:darkblue ;
    width: 50px;
    height: 24px;
    text-align:center;
    border-radius: 20px;
}
.wrapper {
    margin: 10px;
    background-color: rgb(105, 105, 49);

}


.header-row {
    display: flex;
    gap: 10px; /* Adds space between Title and Loadpage */
}

/* Optional: Removes default paragraph margins for tighter alignment */
p {
    margin: 0;
}