.title {
    font-size: large;
    font-weight: bolder;
    color: rgb(72, 119, 228);
}
 /* here we have our title*/
.desc {
    color: aqua;
} /* here we have our description. aka a taste*/

.loadpgbtn {
    color: rgb(127, 149, 171);
    background-color:darkblue ;
    width: 100px;
    height: 24px;
    text-align:center;
    border-radius: 20px;
}
.wrapper {
    margin: 10px;
    background-color: rgb(105, 105, 49);

}


.header-row {
    display: flex;
    gap: 10px; /* Adds space between Title and Loadpage */
}

/* Optional: Removes default paragraph margins for tighter alignment */
p {
    margin: 0;
}

.wrapper {
    padding: 24px;
    border-radius: 24px;
    background-color: rgb(110, 53, 53);
}

.site-wrapper {
    color: rgb(200, 200, 200);
    padding: 24px;
    border-radius: 24px;
    background-color: rgb(81, 71, 71);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red {
    color: red;
    font-weight: bolder;
}


