.topbar {
    padding: 15px;
    display:flex;
    width: 70%;
    height: 10%;
    position: relative;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 10px;
}
.logo  {
    width: 10%;
    height: 10%;
}
.title_icon { 
    margin-left: 2px;
    margin-right: 2px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 5px;
}

.container  {
    width: 90%;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex: 100%;
    border-radius: 30px;
    padding: 15px;
}
.legend {
    width: 20%;
    height: auto;
    margin-left: 10px;
    padding: 10px;
    border-radius: 30px;
}
.render {
    width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 30px;

}