/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212425; 
    min-height: 2000px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(20, 57, 57);
}

/* Centering logic for the static container */
.main-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

#container {
    padding: 24px;
    width: 60%;
    min-height: 800px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    color: rgb(206, 206, 206);
    padding-left: 100px;
    padding-right: 100px;
}

.text-div {
    padding: 24px;
    color: #a6a1a1; 
    line-height: 1.6px;
}

/* Fixed Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 24px;
    top: 124px;
    width: 420px; 
    height: 650px;    
    padding: 24px;
    background-color: rgb(78, 41, 48);
    border-radius: 20px;
    
    /* display: none;
    color: #282828;*/
}