.base {
    background-color: #282828;
    color: #a89984;
}
.red {
    color: #b23934;
    font-weight: bold;
}

.green {
    color: #98971a;
    font-weight: bold;
}
.yellow {
    color: #d79921;
    font-weight: bold;
}

.blue {
    color: #458588;
    font-weight: bold;
}

.purple {
    color: #b16286;
    font-weight: bold;
}
.aqua {
    color: #689b6a;
    font-weight: bold;
}