.background {
    color: #282828
}
.red {
    color: #cc241d;
}

.green {
    color: #98971a;
}
.yellow {
    color: #d79921;
}

.blue {
    color: #458588;
}

.purple {
    color: #b16286;
}
.aqua {
    color: #689b6a;
}
.gray {
    color: #a89984;
}